/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------normalizacion-----------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

*{
   /*outline: 1px solid blueviolet;*/
   box-sizing: border-box;
}


/*--------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------nav------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
nav a{
    border-radius: 20px;
    padding: 1rem;
    margin: 0.5rem;
    border: 2px dashed rgb(217,3,104);
    color: rgb(217,3,104) !important;
    transition: all 0.3s;
    font-weight: 600 !important;
    background-color: white;
}


nav a:hover{
    box-shadow: 0px 0 10px rgba(255,255,255, 0.8);
    color: rgb(243, 54, 142) !important;
    transform: scale(1.1);
    border-style: solid;
}

nav a.active{
    background-color: rgb(217,3,104);
    color: white !important;
    border-color: white;
}

.navbar-toggler{
    background-color: rgb(217,3,104) !important;
}

.navbar-toggler:hover{
    transform: scale(1.1);
}


/*--------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------header----------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

header,body{
    background-color: rgb(223, 223, 223) !important;
}

header{
    padding: 0 !important; 
}


header{
    min-height: 20vh;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------barra----------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
.izq{
    transform: scaleX(-1);
}

.izq,.der{
    width: 20px;
    transition: all 0.3s;
}

.der:hover{
    transform: scale(1.1) translateX(5px);
}

.izq:hover{
    transform: scaleX(-1.1) scaleY(1.1) translateX(5px);
}

h1{
    text-align: center;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------buscador--------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

.buscar{
    width: 2rem;
    height: 2rem;
    padding: 0.2rem;
    display: flex;
}

.lupa{
    height: 100%;
}

input[type="text"]{
    height: 1.5rem;
}


/*--------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------footer--------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

footer{
    background-color: rgb(217,3,104);
    min-height: 10vh;
    z-index: 10;
}

footer .reds{
    width: 5vw;
    transition: all 0.3s;
}

footer .reds:hover{
    transform: scale(1.2);
}


/*--------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------cards-----------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

.pequeño{
    font-size: 10pt;
}

.btn-goevents{
    background-color: rgb(243, 54, 142);
    color: white;
    font-weight: 600;
}

.btn-goevents:hover{
    background-color: rgb(175, 175, 175);
    color: white;
}

p span{
    font-weight: 600;
}

.fspan{
    font-weight: 600;
}

.card-img-top{
height:30vh;
min-width: 300px;
object-fit: cover;
}

.card-img-left{
    height:50vh;
    min-width: 50%;
    object-fit: cover;
    min-height: 300px;
}

.card{
    min-width: 300px;
}

.cardleft{
    min-width: 50%;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------tablas----------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

.table{
    border-collapse: separate !important;
    border-width: 0;
}

tbody td{
    background-color: white !important;
    border: 2px solid rgb(223, 223, 223) !important;
    padding: 0.5rem;
}

tr{
    border-width: 0;
}


.th1{
    color: rgb(217,3,104);
    font-weight: 700;
    font-size: 1.3rem;
    text-transform: uppercase;
    border-color: rgb(217,3,104) !important;
    border-style: dashed;
    border-width: 0px 0px 2px 0px !important;
}
    
.th2{
background-color: white !important;
border: 2px solid rgb(223, 223, 223) !important;
}






/*--------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------otros-----------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

main{
    min-height: 70vh;
}

main h2{
    color: rgb(217,3,104) !important;
    font-weight: 600;
}

.logo{
    height: 3rem;
}

.sombrasuave{
    box-shadow: 0px 0px 10px -6px rgba(0, 0, 0, 0.8);
}

.sombra{
    box-shadow: 0px -8px 8px -8px rgba(0, 0, 0, 0.8);
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------responsive---------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*md*/
@media only screen and (max-width:768px){
   label{
    font-size: 10pt !important;
   }
   footer .reds{
    width: 10vw;
    }
    /*.navbar{
        position: absolute;
        top:2vh;
        right: 2vw;
    }*/

}


/*sm*/
@media only screen and (max-width:576px){
    
 }

 @media only screen and (max-width:400px){
    footer .reds{
        width: 15vw;
    }

    footer{
        flex-direction: column;
        gap: 1rem;
    }
 }

 @media only screen and (max-width:300px){
    .card{
        min-width: 150px !important;
    }
    .card-img-top{
        min-width: 150px !important;
        }
    
 }